@import '../../shared/variables.scss';

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 auto;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        background-color: $color-yellow;
        margin-bottom: 40px;
        font-weight: bold;
        padding: 20px;
        @media screen and (min-width: 800px) {
            height: 40%;
            width: 100%;
        }

        &_container {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            padding: 20px;
            background-color: $color-white;

            p {
                font-weight: bold;
                text-align: center;
                color: $color-black;
            }
        }
    }

    &_wrapper {
        padding: 0;
    }

    .links {
        text-decoration: none;
        color: $color-white;
        font-weight: bold;
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        transition: 0.5s ease;

        &:hover {
            transform: scale(1.01);
        }

        div {
            width: 100%;

            .info_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                display: block;
                height: 80px;
                width: 220px;
                left: 0;
                background-color: $color-white;
                padding: 20px;
                left: 10px;
                transform: translateY(20%);
                box-shadow: 5px 5px $color-black;
                @media screen and (min-width: 800px) {
                    left: 200px;
                    transform: translateY(50%);
                }

                h3 {
                    margin: 0 auto;
                    text-align: center;
                    color: $color-black;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-size: 180%;
                    text-transform: uppercase;
                }
            }

            .picture__wrapper {
                width: 100%;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                @media screen and (min-width: 800px) {
                    width: 80%;
                }

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
}
