header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-left: 20px;
      text-decoration: none;

      .routerLinks {
        text-decoration: none;
        color: black;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: gray;
        }
      }
    }
  }
}
