.hamburger {
    overflow: hidden;
    margin-left: auto;
    position: relative;
    z-index: 10;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    @media screen and (min-width: 800px) {
        position: absolute;
        left: 5000px;
    }

    span {
        border-radius: 20px;
        z-index: 10;
        position: relative;
        display: block;
        width: 34px;
        height: 4px;
        margin-bottom: 8px;
        transition: 0.4s;
        background-color: white;

        &:nth-child(1) {
            transform-origin: center;
        }

        &:nth-child(2) {
            transform-origin: right;
        }

        &:nth-child(3) {
            transform-origin: left;
        }
    }

    &.active span {
        &:nth-child(1) {
            left: 2px;
            transform: translateY(20px)rotate(360deg);
        }

        &:nth-child(2) {
            right: 2px;
            transform: rotate(135deg);
            transform: scaleX(0);
        }

        &:nth-child(3) {
            transform: scaleX(0);
        }
    }
}
