footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 20px;
    width: 100%;
    background-color: gray;

    .info {
        padding: 20px;

        span {
            display: block;
        }
    }

    .social-media {
        padding: 20px;
        display: flex;
        flex-direction: row;

        &__icon {
            height: 50px;
            width: 50px;
        }
    }
}
