@import '../shared/variables';

.about {
    width: 100%;
    height: 100vh;
    background-color: gray;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
        color: white;
        padding: 20px;
        font-weight: bold;
    }

    &_wrapper {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        border-top: 20px solid lightblue;
        height: 80%;
        width: 90%;
    }

    .about_container {
        flex: 1;
        padding: 20px;
        border: 1px solid purple;

        div {
            background-color: lightblue;
            padding: 20px;

            p {
                margin: 3px;
                padding:3px;
            }
        }
    }
}
