.navBar-children {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin-top: 100px;
  display: inline-block;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: inline-block;

    li {
      margin-top: 10px;

      .routerLinks {
        text-decoration: none;
        color: black;
        transition: 0.2s;

        &:hover {
          color: gray;
        }
      }
    }
  }
}
